
.root{

    -fx-background-color: darkgray;
    -fx-border-width: 3;
    -fx-border-color: lightgray;
    -fx-background-position: center;
    -fx-background-size: 100%;
   
}

.label{

    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-text-position: center;

}


